@import url("customColor.css");

.root{
	-fx-background-color: #101010;
}

.button{
	-fx-text-fill: -customColor;
	-fx-background-color: #303030; 
	-fx-border-color: -customColor;
	-fx-border-width: 1;
}

.button:hover{
	-fx-background-color: #101010;
	-fx-cursor: hand;
}

.customButton{
    -fx-fill: -customColor;
}

.text-field{
    -fx-background-color: #303030;
    -fx-border-color: -customColor;
    -fx-font-size: 13.0 pt;
    -fx-text-fill: -customColor;
}

.text-area{
    -fx-background-color: #101010;
    -fx-font-size: 13.0 pt;
    -fx-text-fill: -customColor;
}

.text-area .content{
    -fx-background-color: #303030;
}

.text-area:focused{
    -fx-border-color: transparent;
}

.check-box .box {
    -fx-background-color:#101010;
    -fx-border-color: -customColor;
}

.check-box:hover{
	-fx-cursor: hand;
}

.check-box:selected .mark {
    -fx-background-color: -customColor;
}

.label{
    -fx-font-size: 13.0 pt;
	-fx-text-fill: -customColor;
}

.slider{
	-fx-shadow-highlight-color: -customColor;
	-fx-control-inner-background: -customColor;
}

.slider .thumb{
    -fx-background-color: #dfdfdf;
}

.radio-button .radio {
    -fx-background-color: #303030
}

.radio-button:selected .radio .dot {
    -fx-background-color: -customColor;
}

.radio:hover{
	-fx-cursor: hand;
}

.menu-bar, .menu-item, .context-menu {
    -fx-background-color: #101010;
}

.menu:hover, .menu:showing{
    -fx-background: #101010 ;
    -fx-opacity: 0.5;
    -fx-cursor: hand;
}

.menu-item:focused{
    -fx-background-color: #303030;
    -fx-cursor: hand;
}

.list-view{
    -fx-background-color: #101010;
    -fx-font-size: 11px;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .split-pane{
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view:focused{
    -fx-border-color: transparent;
}

.list-view .increment-button ,.list-view .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}

.list-view .list-cell:focused{
    -fx-text-fill: -customColor;
}

.list-view .list-cell:selected{
    -fx-background-color: #303030;
}

.list-view .list-cell {
    -fx-text-fill: #a0a0a0;
}

.list-cell {
    -fx-background-color: #101010;
}

.list-cell:filled:hover {
    -fx-background-color: #303030;
}

.list-view .scroll-bar:vertical, .list-view .scroll-bar:vertical .increment-button, .list-view .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:horizontal, .list-view .scroll-bar:horizontal .increment-button, .list-view .scroll-bar:horizontal .decrement-button{
    -fx-background-color: transparent;
    -fx-padding: 1;
}

.list-view .scroll-bar:vertical .increment-button, .list-view .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:horizontal .increment-button, .list-view .scroll-bar:horizontal .decrement-button{
    -fx-background-color: #101010
}

.list-view .scroll-bar:vertical .thumb,
.list-view .scroll-bar:horizontal .thumb{
    -fx-background-insets: 5, 5, 5, 5;
    -fx-background-radius: 5;
    -fx-background-color: #303030;
}
