.root{
	-fx-background-color: -primaryColor;
}

.mediaBackground{
    -fx-background-color: #101010;
}

.button{
	-fx-text-fill: -mainColor;
	-fx-background-color: -secondaryColor;
	-fx-border-color: -mainColor;
	-fx-border-width: 1;
}

.button:hover{
	-fx-background-color: -primaryColor;
	-fx-cursor: hand;
}

.tooltip{
	-fx-text-fill: -mainColor;
}

.customButton{
    -fx-fill: -mainColor;
}

.customButton:disabled{
	-fx-fill: -secondaryColor;
}

.disButton{
    -fx-fill: -mainColor;
	-fx-background-color: -primaryColor;
	-fx-border-color: -primaryColor;
}

.disButton:hover{
	-fx-cursor: default;
}

.time-field{
    -fx-background-color:-secondaryColor;
    -fx-border-color:-mainColor;
    -fx-border-width:1;
}

.time-field:disabled{
    -fx-opacity:0.5;
}

.time-field-text-field:focused{
    -fx-background-color:transparent;
}

.time-field-text-field:disabled{
    -fx-background-color:transparent;
}

.text-field{
    -fx-background-color: -secondaryColor;
    -fx-border-color: -mainColor;
    -fx-font-size: 13.0 pt;
    -fx-text-fill: -mainColor;
    -fx-padding: 0px;
    -fx-alignment: BASELINE_CENTER;
}

.text-area{
    -fx-background-color: -primaryColor;
    -fx-font-size: 13.0 pt;
    -fx-text-fill: -mainColor;
}

.text-area .content{
    -fx-background-color: -secondaryColor;
}

.text-area:focused{
    -fx-border-color: transparent;
}

.check-box .box {
    -fx-background-color:-primaryColor;
    -fx-border-color: -mainColor;
}

.check-box:hover{
	-fx-cursor: hand;
}

.check-box:selected .mark {
    -fx-background-color: -mainColor;
}

.label{
    -fx-font-size: 13.0 pt;
	-fx-text-fill: -mainColor;
}

.slider{
	-fx-shadow-highlight-color: -mainColor;
	-fx-control-inner-background: -mainColor;
}

.slider .thumb{
    -fx-background-color: -tertiaryColor;
}

.radio-button{
    -fx-font-size: 13.0 pt;
	-fx-text-fill: -mainColor;
}

.radio-button .radio {
    -fx-background-color: -secondaryColor
}

.radio-button:selected .radio .dot {
    -fx-background-color: -mainColor;
}

.radio:hover{
	-fx-cursor: hand;
}

.menu-bar, .menu-item, .context-menu {
    -fx-background-color: -primaryColor;
}

.menu:hover, .menu:showing{
    -fx-background: -primaryColor ;
    -fx-opacity: 0.5;
    -fx-cursor: hand;
}

.menu-item:focused{
    -fx-background-color: -secondaryColor;
    -fx-cursor: hand;
}

.list-view{
    -fx-background-color: -primaryColor;
    -fx-font-size: 11px;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view .split-pane{
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-view:focused{
    -fx-border-color: transparent;
}

.list-view .increment-button ,.list-view .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:transparent;
}

.list-view .list-cell:focused{
    -fx-text-fill: -mainColor;
}

.list-view .list-cell:selected{
    -fx-background-color: -secondaryColor;
}

.list-view .list-cell {
    -fx-text-fill: -tertiaryColor;
}

.list-cell {
    -fx-background-color: -primaryColor;
}

.list-cell:filled:hover {
    -fx-background-color: -secondaryColor;
}

.list-view .scroll-bar:vertical, .list-view .scroll-bar:vertical .increment-button, .list-view .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:horizontal, .list-view .scroll-bar:horizontal .increment-button, .list-view .scroll-bar:horizontal .decrement-button{
    -fx-background-color: transparent;
    -fx-padding: 1;
}

.list-view .scroll-bar:vertical .increment-button, .list-view .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:horizontal .increment-button, .list-view .scroll-bar:horizontal .decrement-button{
    -fx-background-color: -primaryColor
}

.list-view .scroll-bar:vertical .thumb,
.list-view .scroll-bar:horizontal .thumb{
    -fx-background-insets: 5, 5, 5, 5;
    -fx-background-radius: 5;
    -fx-background-color: -secondaryColor;
}

.toggle-button,
.toggle-button:focused{
    -fx-background-color: -primaryColor;
    -fx-text-fill: -mainColor;
    -fx-border-color: -mainColor;
}

.toggle-button:selected,
.toggle-button:selected:focused {
    -fx-background-color: -secondaryColor;
}

.color-palette-region {
    -fx-background-color: -primaryColor;
}

.color-picker {
    -fx-background-color: -secondaryColor;
    -fx-border-color: -mainColor;
    -fx-padding: 0;
    -fx-background-insets: 0, 1;
}

.color-picker .color-picker-label .text {
    -fx-text-color: -primaryColor;
}

.dialog-pane {
    -fx-background-color: -primaryColor;
}

.dialog-pane .label {
    -fx-text-fill: -mainColor;
}

.dialog-pane:header .header-panel {
    -fx-background-color: -secondaryColor;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 2em;
}